<!--
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>
-->
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <a class="btn btn-primary" href="http://127.0.0.1:8000/" role="button">HOME</a>
    <a class="btn btn-success" href="http://127.0.0.1:8000/" type="button">create</a>
    <a class="btn btn-danger" type="button">map</a>
    <a class="btn btn-warning" type="button">contact</a>
    <input class="btn btn-dark" type="submit" value="About">
</div>
