
<div class="d-flex position-relative">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUTt9ggdsZl9T7aGuTV7NcTyBipgvBISpUEOxaM7v_ko9GpgkJAFFE-3XoTu6BADHmkSk&usqp=CAU" class="flex-shrink-0 me-3" alt="...">
  <div>
    <h5 class="mt-0">Custom component with stretched link</h5>
    <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
    <a href="#" class="stretched-link">Go somewhere</a>
  </div>
</div>
<br>
<br>
<div class="card" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Samantha_Saint_-_AVN_Photos_AEE_Expo_Las_Vegas_2012.jpg/640px-Samantha_Saint_-_AVN_Photos_AEE_Expo_Las_Vegas_2012.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">TUXEDO CAT</h5>
      <p class="card-text">I love Tuxedo cats. look at him... Lovely...</p>
      <a href="#" class="btn btn-primary">more info</a>
    </div>
</div>
<br>
<br>
